li {
  &.menu-item:active {
    background-color: transparent;
    color: $link-hover-color;
    font-weight: 600;
  }
  &.menu-bforbank,
  &.menu-boursorama,
  &.menu-fortuneo,
  &.menu-hellobank,
  &.menu-ingdirect,
  &.menu-monabanq {
    @extend .dropdown-item;
    padding-left: 37px;
    background-repeat: no-repeat;
    background-position: 5px;
    background-position-y: center;
  }
}

li.menu-bforbank {
    background-image: url('#{$images-path}/32x32/bforbank.png');
}

li.menu-boursorama {
    background-image: url('#{$images-path}/32x32/boursorama.png');
}

li.menu-fortuneo {
  background-image: url('#{$images-path}/32x32/fortuneo.png');
}

li.menu-hellobank {
  background-image: url('#{$images-path}/32x32/hellobank.png');
}

li.menu-ingdirect {
  background-image: url('#{$images-path}/32x32/ingdirect.png');
}
li.menu-monabanq {
  background-image: url('#{$images-path}/32x32/monabanq.png');
}
.dropdown-item.active, .dropdown-item:active, .dropdown-menu .menu-item a.nav-link:hover {
  background-color: $brand-bg;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color : $link-hover-color;
}
.dropdown-menu .menu-item a.nav-link:hover  {
  background-color:  transparent;
  color : $link-hover-color;
}
.dropdown-item.active, .dropdown-item:active {
  color : $link-hover-color;
}

div.ranking-widget dl, div.ranking-widget dt {
  margin-bottom: 0.2rem;
}
div.ranking-widget dl, div.ranking-widget div.pb-4.mb-2, div.ranking-widget div.card-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
[v-cloak] {
  display: none;
}
ul.rating-green {
  color: #5cb85c;text-align:center;
}
ul.rating {
  color: #ffa000;text-align:center;
}

div.card-ranking {
    background-color: $brand-bg;
    >.card-block {
      padding: 0.75rem;
    }
}
.widget-title , .footer-wrapper .bn-title {
    border-bottom: 1px solid $brand-secondary;
    position: relative;
    margin-bottom: 15px;
    padding: 12px 0;
    text-transform: uppercase;
    &:before {
       	bottom: 0;
    	content: '';
    	display: inline-block;
    	left: 0;
    	position: absolute;
    	text-transform: uppercase;
    	width: 40%;
        border-bottom: 7px solid $brand-secondary;
    }
}

div.widget-area aside { @extend .mb-2}

div.widget-custom ul {
    padding-left: 1rem;
}




div.widget-catalogue li a.active {
    text-transform: uppercase;
    color : $link-hover-color;
    cursor: inherit;
      &:before {
        font-family: FontAwesome;
        font-weight: 600;
        margin-right: 5px;
      	content: '\f124';
      }
}
button span.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: #2d2d2d;
}
#wrapper-breadcrumbs {
  padding: 10px 0;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    li {
      margin-bottom: 15px;
    }
    a.btn-floating {
      opacity: 0;
    }
  }
}

.btn-flat {
  position: relative;
  padding: 8px 30px;
  border: none;
  margin: 10px;
  text-decoration: none;
  outline: 0 !important;
}

.btn-floating {
  display: inline-block;
  line-height: 37px;
  color: #fff;
  i {
    display: inline-block;
    line-height: 37px;
    color: #fff;
  }
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  padding: 0;
  background-color: #a6c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: .3s;
  margin: 10px;
}

.btn-flat {
  background-color: transparent;
  &:focus {
    background-color: transparent;
  }
}

.btn-floating {
  i {
    width: inherit;
    text-align: center;
    font-size: 1.6rem;
  }
  &:before {
    border-radius: 0;
  }
  &.btn-large {
    width: 55.5px;
    height: 55.5px;
    i {
      line-height: 55.5px;
    }
  }
}
.link-hover-color {
  background-color : $link-hover-color;
}


nav.post-navigation {
  padding : 15px 0;
}

.wrapper {
     padding: 0;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler {
    padding-left: 0;
}
