.sidebar-light .sidebar-submenu .sidebar-menu-button, .sidebar-light .sidebar-submenu .sidebar-menu-icon {
  color: $brand-primary;
}
.sidebar-light .sidebar-submenu .sidebar-menu-button:active, .sidebar-light .sidebar-submenu .sidebar-menu-icon:active {
  color: $link-hover-color;
}
.sidebar-light .sidebar-submenu .sidebar-menu-button:hover, .sidebar-light .sidebar-submenu .sidebar-menu-icon:hover
{
    background-color: transparent;
    color: $link-hover-color;
    font-weight: 500;

}
.sidebar-light .sm-active-button-bg .active>.sidebar-menu-button {
    background-color: transparent;
    color: $link-hover-color;
    font-weight: 500;
}

li {
  &.menu-item:active {
    // @extend .sidebar-light;
    // @extend .sidebar-light;
    background-color: transparent;
    color: $link-hover-color;
    font-weight: 500;
  }
  &.menu-bforbank,
  &.menu-boursorama,
  &.menu-fortuneo,
  &.menu-hellobank,
  &.menu-ingdirect,
  &.menu-monabanq {
    padding-left: 37px;
    padding-right: 0;
    background-repeat: no-repeat;
    background-position: 5px;
    background-position-y: center;
  }
}

li.menu-bforbank {
    background-image: url('#{$images-path}/32x32/bforbank.png');
}

li.menu-boursorama {
    background-image: url('#{$images-path}/32x32/boursorama.png');
}

li.menu-fortuneo {
  background-image: url('#{$images-path}/32x32/fortuneo.png');
}

li.menu-hellobank {
  background-image: url('#{$images-path}/32x32/hellobank.png');
}

li.menu-ingdirect {
  background-image: url('#{$images-path}/32x32/ingdirect.png');
}
li.menu-monabanq {
  background-image: url('#{$images-path}/32x32/monabanq.png');
}

ul#nav-mobile {
  .side-nav li>a, li.active, .li:active, .menu-item a.nav-link:hover {
    background-color: $brand-bg;
    color : $link-hover-color;
  }
}

div.ranking-widget dl, div.ranking-widget dt {
  margin-bottom: 0.2rem;
}
div.ranking-widget dl, div.ranking-widget div.pb-4.mb-2, div.ranking-widget div.card-header {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
[v-cloak] {
  display: none;
}
ul.rating-green {
  color: #5cb85c;text-align:center;
}
ul.rating {
  color: #ffa000;text-align:center;
}

div.card-ranking {
    background-color: $brand-bg;
    >.card-block {
      padding: 0.75rem;
    }
}
.widget-title , .footer-wrapper .bn-title {
    border-bottom: 1px solid $brand-secondary;
    position: relative;
    margin-bottom: 15px;
    padding: 12px 0;
    text-transform: uppercase;
    &:before {
       	bottom: 0;
    	content: '';
    	display: inline-block;
    	left: 0;
    	position: absolute;
    	text-transform: uppercase;
    	width: 40%;
        border-bottom: 7px solid $brand-secondary;
    }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media only screen and (min-width: 993px) {
  .container {
      width: 95%;
  }
}

   header {
      padding-left: 0;
    }

    body>header, main, footer {
        padding-left: 300px;
    }
    @media only screen and (max-width : 992px) {
       body>header, main, footer {
        padding-left: 0px;
      }
    }

body>header a.button-collapse {
  color:black;
  padding-left: 0px;
}
   .waves-effect.waves-toppy .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba($link-hover-color, 0.80);
    }
ul#nav-mobile.side-nav.fixed li.logo {
  margin-bottom: 0px;
}

ul#nav-mobile {
  // box-shadow: $brand-blue 1px 0px;
  li.search {
    position: relative;
    top:0;
    margin-bottom: 20px;
  }
}

#logo-container {
  margin-bottom: 0;
}
ul.side-nav.fixed li {
    width: 100%;
}

// nav[role=navigation] {
//   box-shadow: 0 2px 2px 0 rgba($brand-blue,.50), 0 1px 5px 0 rgba($brand-blue,.12), 0 3px 1px -2px rgba(241,54,0,.2);
// }
div.separator {
    background-color: rgba($brand-blue,.50);
    flex-shrink: 0;
    height: 1px;
    margin: 8px 0;
}
